@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}
body {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg-desktop.svg");
  background-position: center;
  background-size: cover;
  background-color: var(--violet);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 50px;
}

.logo {
  width: 150px;
  animation: fadeDown 1s ease-out;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.illustration-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.illutration {
  width: 600px;
  transform: translateX(-1000px);
  animation: leftToRight 1.5s ease-in-out forwards;
  animation-delay: 1s;
}
.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
h1 {
  font-size: 45px;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  animation: fade 1s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: "Open Sans", sans-serif;
  animation: fade 1s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

button {
  width: 175px;
  height: 45px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-weight: 400;
  color: var(--violet);
  font-size: 16px;
  box-shadow: 0px 0px 5px #353535;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  animation: fadeUp 1s ease-in-out forwards;
  animation-delay: 2s;
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
button:hover {
  background-color: var(--magenta);
  color: white;
}

.icon-div {
  width: 40px;
  height: 40px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  animation: fadeUp 0.5s ease-in-out forwards;
}
.icon-div:nth-child(1) {
  animation-delay: 2.5s;
}
.icon-div:nth-child(2) {
  animation-delay: 3s;
}
.icon-div:nth-child(3) {
  animation-delay: 3.5s;
}

.icon-div:hover {
  border-color: var(--magenta);
  color: var(--magenta);
}
/* Animation */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
/* Media query */

/* Mobiles */
@media (width<767px) {
  body {
    padding: 30px;
    justify-content: space-around;
    background-image: url("./assets/bg-mobile.svg");
  }
  main {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .illutration {
    width: 100%;
  }
  .content-section {
    justify-content: start;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 0;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  footer {
    justify-content: center;
  }
}
/* Tablets */
@media (767px <=width <= 1024px) {
  main {
    grid-template-columns: 1fr;
  }
}
